<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">THANKS GIVING SERVICE</h5>
          <h4>Sunday 1ST 2024</h4>
          <p class="card-text">On the First month December being the First Sunday of the Month <br>
            Will be a Thanksgiving Service conducted at Runogone Church</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">VERSE OF THE DAY </h5>
          <p class="card-text">From the Old Testament<br>
          Leviticus 19:29-30 ; Deutronomy 18:10-12.<br>Psalms 27 ; Isaiah 8:19 </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">From New Testament</h5>
          <p class="card-text">James 4 ; Ephesians 5:11 <br> 2 corinthians 6:14-15</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">OVERVIEW MESSAGE THEME</h5>
          <p class="card-text">Be inline with truth not let any other way<br>mislead truth in you in the name of The Lord Jesus Christ</p>
        </div>
      </div>
    </div>
