<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div id="main-content" class="blog-page">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 left-box">
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="/IMG-20241120-WA0082.jpg" alt="First slide">
                        </div>
                        <h3><a href="blog-details.html">GRADUATION CEREMONY</a></h3>
                        <p>Gradation held on Runogone Primary Grounds was a speck clear event held on 16.Nov 2024 on Sat</p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">VIEW VIDEO</a>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="/IMG-20241120-WA0031.jpg" alt="">
                        </div>
                        <h3><a href="blog-details.html">MORE HIGHLIGHTS</a></h3>
                        <p></p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">VIEW VIDEO</a>
                        </div>
                       
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="/IMG-20241120-WA0032.jpg" alt="">
                        </div>
                        <h3><a href="blog-details.html">WONDERFUL EXPERIENCE</a></h3>
                        <p></p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">VIEW VIDEO</a>
                        </div>
                      
                    </div>
                </div>

                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <img class="d-block img-fluid" src="/IMG-20241120-WA0036.jpg" alt="">
                        </div>
                        <h3><a href="blog-details.html">OBLIGED TO SERVE</a></h3>
                        <p></p>
                    </div>
                    <div class="footer">
                        <div class="actions">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary">VIDEO</a>
                        </div>
                      
                    </div>
                </div>
                                        
                             
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div >
                      
                </div>
                <div class="card">
                    <div class="header">
                        <h2>MINISTRY PLATFROMS</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled categories-clouds m-b-0">
                            <li><a href="javascript:void(0);">Youtube</a></li>
                            <li><a href="javascript:void(0);">Facebook</a></li>
                            <li><a href="https://www.instagram.com/mountain.h.o.g.m/;">instagram</a></li>
                            <li><a href="https://x.com/MOUNTAINHOGM;">X</a></li>
                        </ul>    
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Popular Posts</h2>                        
                    </div>
                    <div class="body widget popular-post">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single_post">
                                    <p class="m-b-0">MORE OVER MORE</p>
                                    <span>Sat 16, 2024</span>
                                    <div class="img-post">
                                        <img src="/IMG-20241120-WA0072.jpg" alt="Awesome Image">                                        
                                    </div>                                            
                                </div>
                                <div class="single_post">
                                    <p class="m-b-0">GRADUATION SCHEME</p>
                                    <span>Sat 16,2024</span>
                                    <div class="img-post">
                                        <img src="/IMG-20241120-WA0071.jpg" alt="Awesome Image">                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>Instagram Post</h2>
                    </div>
                    <div class="body widget">
                        <ul class="list-unstyled instagram-plugin m-b-0">
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0007.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0009.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0010.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0011.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0013.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0014.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0015.jpg" alt="image description"></a></li>
                            <li><a href="javascript:void(0);"><img src="/IMG-20241120-WA0016.jpg" alt="image description"></a></li>
                            
                        </ul>
                    </div>
                </div>
               
                    
                        
                    
            
            </div>
        </div>

    </div>
</div>
