<div class="time">
    <ul id="timeline">
        <li>7:00am- 8:30am</li>
        <li>8:30am- 9:00am</li>
        <li>9:00am- 9:50am</li>
        <li>9:50am- 10:20am</li>
        <li>10:20am- 10:30am</li>
        <li>10:30am- 10:40am</li>
        <li>10:40am- 11:00am</li>
        <li>11:00am- 12:30pm</li>

    </ul>
</div>
<div class="programme">
    <ul>
        <li>PERSONAL PRAYERS</li>
        <li>GENERAL PRAYERS</li>
        <li>PRAISE AND WORSHIP</li>
        <li>TESTIMONIES AND PRESENTATIONS</li>
        <li>ANNOUNCEMENTS</li>
        <li>VISITORS</li>
        <li>OFFERINGS</li>
        <li>PREACHERS</li>
    </ul>

</div>
<div id="ok">
    <p>WELCOME !!</p>
</div>