<h1>OUR OFFICES ARE LOCATED WHERE OUR MINISTRIES IS OPENED</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">RUNOGONE</h5>
          <h4>NEAR RUNOGONE PRIMARY SCHOOL</h4>
          <p class="card-text">Indeed along MAKUTANO-MAUA highway as head to Kenya Methodist University at GATIMENE gardens  <br>
           When branched will lead you until the Facinity of worship.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
