<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">THANKS GIVING SERVICE</h5>
          <h4>Sunday 1ST 2024</h4>
          <p class="card-text">On the First month December being the First Sunday of the Month <br>
            Will be a Thanksgiving Service conducted at Runogone Church</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">T/A</h5>
          <p class="card-text">T/A</p>
        </div>
      </div>
    </div>
