<div id="intro">
    <h1>MOUNTAIN HOUSE OF GOD MINISTRY</h1><br><br><br>
<p>Mountain House of God Ministry can be defined as a Christ-centered, apostolic ministry focused on spreading on the Gospel of Jesus Christ across nations through evangelism, discipleship and community transformation.<br><br>
Rooted in biblical principles, the ministry seeks to cultivate a global network of believers committed to fulfilling the Great Commission: <span class="verse"><strong>MATTHEW 28:19-20</strong></span>.<br><br>
Its mission is to proclaim the Gospel to unreached and marginalized communities, empower lay leaders through theological training and establish churches that serve as hubs of spiritual growth and societal impact.</p>
</div>
<div id="mind">
    <p class="ready">WELCOME!!</p>

</div>